<div class="card">
    <div class="card-body">
        <h5 class="card-title">Loan Pre-Closure</h5>
        <hr>
        <div class="from-group search-bar">
            <input type="text" class="form-control" placeholder="Search Account Number or Mobile Number">
            <button (click)="pay()" class="btn btn-success btn-sm"><i class="fa fa-search"
                    aria-hidden="true"></i></button>
        </div>
        <div class="content">
            <div class="alert alert-info alert-dismissible fade show">
                <strong>Information</strong> Please read the following information before proceeding. <br><br>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate saepe porro officia nam odit
                accusantium?<br><br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, perspiciatis.

                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        </div>
    </div>
</div>