<div class="card">
    <div class="card-body">
        <h5 class="card-title">Loan Account Overview</h5>
        <hr>
        <div class="head-container">
            <div class="box">
                <div class="text">
                    <p>Total Balance</p>
                    <h5>Rs.12,000</h5>
                </div>
            </div>
            <div class="box">
                <div class="text">
                    <p>Total Due</p>
                    <h5>Rs.1,020</h5>
                </div>
            </div>
            <div class="box">
                <div class="text">
                    <p>Days in Arrears</p>
                    <h5>12</h5>
                </div>
            </div>
            <div class="box">
                <div class="text">
                    <p>Days Late</p>
                    <h5>25</h5>
                </div>
            </div>
        </div>
        <div class="detail-container">
            <div class="row">
                <div class="col-md-6">
                    <p class="card-title">General</p>
                    <hr>
                    <table>
                        <tr>
                            <td>Account ID</td>
                            <td>115</td>
                        </tr>
                        <tr>
                            <td>Account State</td>
                            <td>In Arrears</td>
                        </tr>
                        <tr>
                            <td>Days In Arrears</td>
                            <td>25 Days (Since 12-01-2021)</td>
                        </tr>
                        <tr>
                            <td>Currency</td>
                            <td>Rupee</td>
                        </tr>
                        <tr>
                            <td>Activation Date</td>
                            <td>01-01-2021</td>
                        </tr>
                        <tr>
                            <td>Product</td>
                            <td>Home Loan</td>
                        </tr>
                        <tr>
                            <td>Product Type</td>
                            <td>Variable</td>
                        </tr>
                        <tr>
                            <td>Loan Amount</td>
                            <td>₹18,000.00</td>
                        </tr>
                        <tr>
                            <td>Interest Rate</td>
                            <td>5% per Month</td>
                        </tr>
                        <tr>
                            <td>Penalty Rate</td>
                            <td>1.2%</td>
                        </tr>
                        <tr>
                            <td>Arrear Tolerance Period</td>
                            <td>3 Days</td>
                        </tr>
                    </table>

                </div>
                <div class="col-md-6">
                    <p class="card-title">Details</p>
                    <hr>
                    <table>
                        <tr>
                            <td>Principal Balance</td>
                            <td>₹18,000.00</td>
                        </tr>
                        <tr>
                            <td>Interest Balance</td>
                            <td>₹120.00</td>
                        </tr>
                        <tr>
                            <td>Interest Accrued</td>
                            <td>₹1,200.00</td>
                        </tr>
                        <tr>
                            <td>Interest From Arrear Balance</td>
                            <td>₹0.00</td>
                        </tr>
                        <tr>
                            <td>Penalty Accrued</td>
                            <td>₹120.00</td>
                        </tr>
                        <tr>
                            <td>Total Due</td>
                            <td>₹220.00</td>
                        </tr>
                        <tr>
                            <td>Principal Due</td>
                            <td>₹420.00</td>
                        </tr>
                        <tr>
                            <td>Interest Due</td>
                            <td>₹420.00</td>
                        </tr>
                        <tr>
                            <td>Interest From Arrears Due</td>
                            <td>₹420.00</td>
                        </tr>
                        <tr>
                            <td>Fee Due</td>
                            <td>₹420.00</td>
                        </tr>
                        <tr>
                            <td>Penalty Due</td>
                            <td>₹420.00</td>
                        </tr>
                        <tr>
                            <td>Total Paid</td>
                            <td>₹0.00</td>
                        </tr>
                        <tr>
                            <td>Principal Paid</td>
                            <td>₹0.00</td>
                        </tr>
                        <tr>
                            <td>Interest Paid</td>
                            <td>₹0.00</td>
                        </tr>
                        <tr>
                            <td>Interest From Arrears Paid</td>
                            <td>₹0.00</td>
                        </tr>
                        <tr>
                            <td>Feed Paid</td>
                            <td>₹0.00</td>
                        </tr>
                        <tr>
                            <td>Penalty Paid</td>
                            <td>₹0.00</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>