<div class="accordions-container row">
  <div class="accordion-container col-md-12 col-lg-12 col-xxxl-6">      
    <nb-accordion multi>
      <nb-accordion-item>
        <nb-accordion-item-header>
          <div class="container">
            <div class="row">
              <div class="col">
                Message subject
              </div>              
            </div>        
            <div class="row">
              <div class="col">
              Sender Name
              </div>
              <div class="col">
                <i class="fas fa-trash-alt float-right"></i>
                <i class="fas fa-pen update float-right"></i>
                <i class="fas fa-save save float-right"></i>
              </div>
            </div>
          </div>          
          
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
          Originally, nebula was a name for any diffuse astronomical object,
          including galaxies beyond the Milky Way.
        </nb-accordion-item-body>
      </nb-accordion-item>          
      </nb-accordion>
      <br>
      <nb-accordion multi>
        <nb-accordion-item>
          <nb-accordion-item-header>
            <div class="container">
              <div class="row">
                <div class="col">
                  Message subject
                </div>              
              </div>
              <br>
              <div class="row">
                <div class="col">
                Sender Name
                </div>
                <div class="col">
                  <i class="fas fa-trash-alt float-right"></i>
                  <i class="fas fa-pen update float-right"></i>
                  <i class="fas fa-save save float-right"></i>
                </div>
              </div>
            </div>          
            
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
            Originally, nebula was a name for any diffuse astronomical object,
            including galaxies beyond the Milky Way.
          </nb-accordion-item-body>
        </nb-accordion-item>                  
        </nb-accordion>
        <br>
        <nb-accordion multi>
          <nb-accordion-item>
            <nb-accordion-item-header>
              <div class="container">
                <div class="row">
                  <div class="col">
                    Message subject
                  </div>              
                </div>
                <br>
                <div class="row">
                  <div class="col">
                  Sender Name
                  </div>
                  <div class="col">
                    <i class="fas fa-trash-alt float-right"></i>
                    <i class="fas fa-pen update float-right"></i>
                    <i class="fas fa-save save float-right"></i>
                  </div>
                </div>
              </div>          
              
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
              Originally, nebula was a name for any diffuse astronomical object,
              including galaxies beyond the Milky Way.
            </nb-accordion-item-body>
          </nb-accordion-item>          
          </nb-accordion>
  </div>
</div>