<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<nb-card>
  <nb-card-body class="example-items-col">
    <h6>Employee Registration Form<button type="button" class="close" aria-label="Close" (click)="viewEmployee()">
        <span aria-hidden="true">&times;</span>
      </button></h6>
    <hr>
    <form [formGroup]="employeeRegisterForm">
      <div class="row">
        <div class="col">
          <label class="required label">First Name</label>
          <input type="text" class="form-control" name="firstname" formControlName="firstname"
            [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }">
          <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
            <div *ngIf="f.firstname.errors.required">First Name is required</div>
          </div>
        </div>
        <div class="col">
          <label class="required label">Last Name</label>
          <input type="text" class="form-control" name="lastname" formControlName="lastname"
            [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }">
          <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
            <div *ngIf="f.lastname.errors.required">Last Name is required</div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <label class="required label">Employee Name</label>
          <input type="text" class="form-control" name="employeeId" formControlName="employeeId"
            [ngClass]="{ 'is-invalid': submitted && f.employeeId.errors }">
          <div *ngIf="submitted && f.employeeId.errors" class="invalid-feedback">
            <div *ngIf="f.employeeId.errors.required">Employee ID is required</div>
          </div>
        </div>
        <div class="col">
          <label class="required label">Employee Role Name</label>
          <select class="form-control" name="emproleid" formControlName="emproleid"
            [ngClass]="{ 'is-invalid': submitted && f.emproleid.errors }" >
            <option value="" selected disabled hidden>Choose Your Option</option>
            <option value="1">Manager</option>
            <option value="2">Clerk</option>
          <!-- <option *ngFor="let item of EmpRoleName" value="{{ item._id }}">{{ item.role_name }}</option> -->
          
          </select>
          
          <div *ngIf="submitted && f.emproleid.errors" class="invalid-feedback">
            <div *ngIf="f.emproleid.errors.required">employee role name is required</div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <label class="required label">Branch Name</label>
          <select class="form-control" name="branchid" formControlName="branchid"
            [ngClass]="{ 'is-invalid': submitted && f.branchid.errors }">
            <option value="" selected disabled hidden>Choose branch Name</option>
            <option *ngFor="let item of BranhDetails" value="{{ item.branch_id }}">{{ item.branch_name }}</option>
            
          </select>
          <div *ngIf="submitted && f.branchid.errors" class="invalid-feedback">
            <div *ngIf="f.branchid.errors.required">branch name is required</div>
          </div>
        </div>
        <div class="col">
          <label class="required label">Email ID</label>
          <input type="email" class="form-control" name="email" formControlName="email"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">E-mail is required</div>
            <div *ngIf="f.email.errors.pattern">E-mail must be a valid</div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <label class="label">Date of Birth</label>
          <input type="date" class="form-control" name="dob" formControlName="dob"
            [ngClass]="{ 'is-invalid': submitted && f.dob.errors }">

        </div>
        <div class="col">
          <label class="required label">Gender</label>
          <select class="form-control" name="gender" formControlName="gender"
            [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
            <option value="" selected disabled hidden>Choose Your Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="others">others</option>
          </select>
          <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
            <div *ngIf="f.gender.errors.required">Gender is required</div>
          </div>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col">
          <label class="required label">Mobile Number 1</label>
          <input type="text" class="form-control" name="mobileno1" formControlName="mobileno1"
            [ngClass]="{ 'is-invalid': submitted && f.mobileno1.errors }">
          <div *ngIf="submitted && f.mobileno1.errors" class="invalid-feedback">
            <div *ngIf="f.mobileno1.errors.required">Mobile Number-1 is required</div>
            <div *ngIf="f.mobileno1.errors.pattern">Mobile Number must be a valid</div>
          </div>
        </div>
        <div class="col">
          <label class="label">Mobile Number 2</label>
          <input type="text" class="form-control " name="mobileno2" formControlName="mobileno2"
            [ngClass]="{ 'is-invalid': submitted && f.mobileno2.errors }">
          <div *ngIf="submitted && f.mobileno2.errors" class="invalid-feedback">

            <div *ngIf="f.mobileno2.errors.pattern">Mobile Number-2 must be a valid</div>
          </div>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col">
          <label class="required label">Designation</label>
          <select class="form-control" name="designation" formControlName="designation"
            [ngClass]="{ 'is-invalid': submitted && f.designation.errors }">
            <option value="" selected disabled hidden>Choose Your Designation</option>
            <option value="operation">Operations</option>
            <option value="hr">HR</option>
            <option value="executive">Executive</option>
            <option value="teller">Teller</option>
            <option value="asst manager">Asst.Manager</option>
            <option value="manager">Manager</option>
          </select>
          <div *ngIf="submitted && f.designation.errors" class="invalid-feedback">
            <div *ngIf="f.designation.errors.required">Designation is required</div>
          </div>
        </div>
        <div class="col">
          <label class="required label">Status</label>
          <select class="form-control" name="status" formControlName="status"
            [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
            <option value="" selected disabled hidden>Choose Your Status</option>
            <option value="unmarried">Unmarried</option>
            <option value="married">Married</option>
          </select>
          <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
            <div *ngIf="f.status.errors.required">Status is required</div>
          </div>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col">
          <label class="required label">Country</label>
          <input type="text" class="form-control" name="country" formControlName="country"
            [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
          <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
            <div *ngIf="f.country.errors.required">Country is required</div>
          </div>
        </div>
        <div class="col">
          <label class="required label">Area</label>
          <input type="text" class="form-control" name="area" formControlName="area"
            [ngClass]="{ 'is-invalid': submitted && f.area.errors }">
          <div *ngIf="submitted && f.area.errors" class="invalid-feedback">
            <div *ngIf="f.area.errors.required">Area is required</div>
          </div>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col">
          <label class="required label">City</label>
          <input type="text" class="form-control" name="city" formControlName="city"
            [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
          <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
            <div *ngIf="f.city.errors.required">City is required</div>
          </div>
        </div>
        <div class="col">
          <label class="required label">District</label>
          <input type="text" class="form-control" name="district" formControlName="district"
            [ngClass]="{ 'is-invalid': submitted && f.district.errors }">
          <div *ngIf="submitted && f.district.errors" class="invalid-feedback">
            <div *ngIf="f.district.errors.required">District is required</div>
          </div>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col">
          <label class="required label">State</label>
          <input type="text" class="form-control" name="state" formControlName="state"
            [ngClass]="{ 'is-invalid': submitted && f.state.errors }">
          <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
            <div *ngIf="f.state.errors.required">State is required</div>
          </div>
        </div>
        <div class="col">
          <label class="required label">Pin Code</label>
          <input type="number" class="form-control" name="pincode" formControlName="pincode"
            [ngClass]="{ 'is-invalid': submitted && f.pincode.errors }">
          <div *ngIf="submitted && f.pincode.errors" class="invalid-feedback">
            <div *ngIf="f.pincode.errors.required">Pincode is required</div>
            <div *ngIf="f.pincode.errors.pattern">Pincode must be a valid</div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <label class="required label">Employee Documents upload</label><br>
          <input type="file" class="form-control" name="document" formControlName="document"
          
            [ngClass]="{ 'is-invalid': submitted && f.document.errors }" (change)="onFileChange($event)" >
          <div *ngIf="submitted && f.document.errors" class="invalid-feedback">
            <div *ngIf="f.document.errors.required">document is required</div>
          </div>
        </div>
        <div class="col">
          <div class="buttons mt-4">
            <button nbButton class=" appearance-hero status-success" (click)="onSubmit()">Submit</button>
            <button nbButton class="ml-3 status-danger" (click)="onReset()">Reset</button>
            <button nbButton class="ml-3 appearance-hero status-primary" (click)="viewEmployee()">
              Back
            </button>
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>