<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Shiva Shankar's Documents</h5>
                <hr>
                <div class="user-documents">
                    <div class="files">
                        <div class="file">
                            <a href="../../../../../assets/pdf/sample.pdf" target="_blank" rel="noopener noreferrer"> <i
                                    class="fas fa-file"></i></a><br>
                            <label>PAN Card</label>
                        </div>
                        <div class="file">
                            <a href="../../../../../assets/pdf/sample.pdf" target="_blank" rel="noopener noreferrer"> <i
                                    class="fas fa-file"></i></a><br>
                            <label>Aadhar Card</label>
                        </div>
                        <div class="file">
                            <a href="../../../../../assets/pdf/sample.pdf" target="_blank" rel="noopener noreferrer"> <i
                                    class="fas fa-file"></i></a><br>
                            <label>Passport</label>
                        </div>
                        <div class="file">
                            <a href="../../../../../assets/pdf/sample.pdf" target="_blank" rel="noopener noreferrer"> <i
                                    class="fas fa-file"></i></a>
                            <br>
                            <label>Photocopy</label>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>