<div class="card">
    <div class="card-body">
        <h5 class="card-title">Banker Document</h5><button nbButton class="float-right appearance-hero status-success"
            (click)="uploadDocument()">Upload Document</button>
        <hr>
        <div class="banker-folders">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="search folder">
            </div>
            <div class="folders">
                <div class="folder">
                    <i (click)="viewDocument()" class="fa fa-folder" aria-hidden="true"></i><br>
                    <label>Agreement</label>
                </div>
                <div class="folder">
                    <i (click)="viewDocument()" class="fa fa-folder" aria-hidden="true"></i><br>
                    <label>Computer Bill</label>
                </div>
                <div class="folder">
                    <i (click)="viewDocument()" class="fa fa-folder" aria-hidden="true"></i><br>
                    <label>Expense Invoice</label>
                </div>
                <div class="folder">
                    <i (click)="viewDocument()" class="fa fa-folder" aria-hidden="true"></i><br>
                    <label>Agreement</label>
                </div>
                <div class="folder">
                    <i (click)="viewDocument()" class="fa fa-folder" aria-hidden="true"></i><br>
                    <label>Computer Bill</label>
                </div>
                <div class="folder">
                    <i (click)="viewDocument()" class="fa fa-folder" aria-hidden="true"></i><br>
                    <label>Expense Invoice</label>
                </div>
                <div class="folder">
                    <i (click)="viewDocument()" class="fa fa-folder" aria-hidden="true"></i><br>
                    <label>Agreement</label>
                </div>
                <div class="folder">
                    <i (click)="viewDocument()" class="fa fa-folder" aria-hidden="true"></i><br>
                    <label>Computer Bill</label>
                </div>
                <div class="folder">
                    <i (click)="viewDocument()" class="fa fa-folder" aria-hidden="true"></i><br>
                    <label>Expense Invoice</label>
                </div>
            </div>
        </div>

    </div>
</div>