.card {
    height: 500px;
}
.employee-documents {
    .files {
        margin: 0 auto;
        max-width: 1000px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-content: center;
        text-align: center;
        gap: 10px;
        .file i {
            font-size: 50px;
            color: gray;
            cursor: pointer;
        }
    }
}
