<nb-card>
  <nb-card-header class="accountHeader">
    <h5>Attendance List</h5>
    <button nbButton (click)="createAttendance()" class="float-right appearance-hero status-success">Create
      Attendance</button>
  </nb-card-header>
  <nb-card-body class="example-items-col mt-4 ">
    <div *ngIf="noData" class="col noData">No Data</div>
    <div *ngIf="session" class="col noData">Session Expired</div>
    <div class="row" *ngIf="!noData">
      <div class="col-6" *ngFor="let item of attendanceData[0]">
        <nb-card class="Account-card" *ngIf="item['_id']">
          <div class="row">
            <div class="col-5">
              <div class="heading">Employee Name </div>
              <div class="subHeading">Working Days </div>
              <div class="subHeading">Actual Working Days </div>
              <div class="subHeading">Working Hours </div>
              <div class="subHeading">Paid Leave </div>
              <div class="subHeading">Permissions </div>
            </div>
            <div class="col-7">
              <div class="heading">{{item['emp_id']}}<a (click)="updateAttendance(item['emp_id'])">
                  <i class="fas fa-edit float-right"></i></a>
              </div>
              <div class="subHeading">{{item['workdays_month']}} Days</div>
              <div class="subHeading">{{item['actual_days_month']}} Days</div>
              <div class="subHeading">{{item['work_hours']}} Hours</div>
              <div class="subHeading">{{item['paid_leave']}} Days</div>
              <div class="subHeading">{{item['permission_hours']}} Hours</div>
            </div>
          </div>
        </nb-card>
      </div>
    </div>
  </nb-card-body>
</nb-card>