<nb-card>
    <nb-card-body class="example-items-col">
        <div id="component">


            <h5>Salary Slip</h5>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <p>Salary Type</p>
                    </div>
                    <div class="col">
                        <p>Monthly Credit</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <p>Salary Start Date & End Date</p>
                    </div>
                    <div class="col">
                        <p>12/12/2020 & 12/01/2021</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <p>ESI</p>
                    </div>
                    <div class="col">
                        <p>Rs.1200</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <p>Provident Fund</p>
                    </div>
                    <div class="col">
                        <p>Rs.2000</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <p>Basic Pay</p>
                    </div>
                    <div class="col">
                        <p>Rs.10000</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <p>Dearerness Allowance</p>
                    </div>
                    <div class="col">
                        <p>Rs.3000</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <p>House Rent Allowance</p>
                    </div>
                    <div class="col">
                        <p>Rs.4000</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <p>City Compensation Allowance</p>
                    </div>
                    <div class="col">
                        <p>Rs.2000</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h6>Total</h6>
                    </div>
                    <div class="col">
                        <h6>Rs.35000</h6>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <button nbButton class="float-right ml-3 appearance-hero status-success">Send</button>
        <button nbButton class="float-right appearance-hero status-danger"
            (click)="printComponent('component')">Print</button>
    </nb-card-body>
</nb-card>