.custom-btn{
    width: 180px !important;
}
  .account-status{
    .filter{
      input{
        width: 300px;
        margin-bottom: 15px;
      }
    }
    table {
      width: 100%;
    }
  }
  
  
  