<nb-card>
    <nb-card-body class="example-items-col">
        <h6>Update Specical holiday<button type="button" class="close" aria-label="Close"
                (click)="specialHolidayView()">
                <span aria-hidden="true">&times;</span>
            </button></h6>
        <hr>
        <ng-container *ngFor="let data of specialHolidayData">
            <form [formGroup]="specialHolidayUpdateForm">
                <div class="row">
                    <div class="col">
                        <label class="required label">Days in Month</label>
                        <input type="text" class="form-control" formControlName="daysinmonth"
                            ngModel="{{data.daysinmonth}}"
                            [ngClass]="{ 'is-invalid': submitted && f.daysinmonth.errors }" required>
                        <div *ngIf="submitted && f.daysinmonth.errors" class="invalid-feedback">
                            <div *ngIf="f.daysinmonth.errors.required">Day in Month is required</div>
                        </div>
                    </div>
                    <div class="col">
                        <label class="required label">Year</label>
                        <input type="number" class="form-control" formControlName="year" ngModel="{{data.year}}"
                            [ngClass]="{ 'is-invalid': submitted && f.year.errors }" required>
                        <div *ngIf="submitted && f.year.errors" class="invalid-feedback">
                            <div *ngIf="f.year.errors.required">Year is required</div>
                        </div>
                    </div>
                </div><br>
                <button nbButton class="float-right ml-3 appearance-hero status-primary" (click)="specialHolidayView()">
                    Back
                </button>
                <button nbButton class="float-right status-danger" (click)="onReset()">Reset</button>
                <button nbButton class="float-right mr-3 appearance-hero status-success"
                    (click)="onSubmit()">Update</button>
            </form>
        </ng-container>
    </nb-card-body>
</nb-card>