<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Loan Repayment</h5>
                <hr>
                <table>
                    <tr>
                        <td><label>Account Number</label>
                        </td>
                        <td>
                            <p>XXXXXXXXXXXX1234</p>
                        </td>
                    </tr>
                    <tr>
                        <td><label>Customer Name</label>
                        </td>
                        <td>
                            <p>Ravichandran</p>
                        </td>
                    </tr>
                    <tr>
                        <td><label>Loan Amount</label></td>
                        <td>
                            <p>Rs.120000</p>
                        </td>
                    </tr>
                    <tr>
                        <td><label>Paid Amount</label></td>
                        <td>
                            <p>Rs.100000</p>
                        </td>
                    </tr>
                    <tr>
                        <td><label>Repayment Amount</label></td>
                        <td>
                            <p>Rs.20000</p>
                        </td>
                    </tr>
                    <tr>
                        <td><label>Tenure</label></td>
                        <td>
                            <p>4 Years</p>
                        </td>
                    </tr>
                </table>
                <div class="button mt-4">
                    <button (click)="onProceed()" class="btn btn-success">Proceed</button>
                </div>
            </div>
        </div>
    </div>
</div>