<div class="row">
  <div class="col-xxxl-3 col-md-6" *ngFor="let statusCard of statusCards">
    <ngx-status-card [title]="statusCard.title" [type]="statusCard.type">
      <i [ngClass]="statusCard.iconClass"></i>
    </ngx-status-card>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <nb-card>
      <nb-card-header>Branch Users List</nb-card-header>
      <nb-card-body>
        <ngx-echarts-pie></ngx-echarts-pie>
      </nb-card-body>
    </nb-card>    
  </div>

  <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
    <nb-card>
      <nb-card-header>Monthly user Transaction</nb-card-header>
      <nb-card-body>
        <ngx-echarts-bar></ngx-echarts-bar>
    </nb-card-body>
    </nb-card>    
  </div>
</div>

