<div class="card">
    <div class="card-body">
        <h5 class="card-title">Employee Document</h5>
        <hr>
        <div class="employee-folders">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="search folder">
            </div>
            <div class="folders">
                <div class="folder">
                    <i (click)="viewDocument()" class="fa fa-folder" aria-hidden="true"></i><br>
                    <label>Antony michel</label>
                </div>
                <div class="folder">
                    <i (click)="viewDocument()" class="fa fa-folder" aria-hidden="true"></i><br>
                    <label>Antony michel</label>
                </div>
                <div class="folder">
                    <i (click)="viewDocument()" class="fa fa-folder" aria-hidden="true"></i><br>
                    <label>Antony michel</label>
                </div>
                <div class="folder">
                    <i (click)="viewDocument()" class="fa fa-folder" aria-hidden="true"></i><br>
                    <label>Antony michel</label>
                </div>
                <div class="folder">
                    <i (click)="viewDocument()" class="fa fa-folder" aria-hidden="true"></i><br>
                    <label>Antony michel</label>
                </div>
                <div class="folder">
                    <i (click)="viewDocument()" class="fa fa-folder" aria-hidden="true"></i><br>
                    <label>Antony michel</label>
                </div>
                <div class="folder">
                    <i (click)="viewDocument()" class="fa fa-folder" aria-hidden="true"></i><br>
                    <label>Antony michel</label>
                </div>
                <div class="folder">
                    <i (click)="viewDocument()" class="fa fa-folder" aria-hidden="true"></i><br>
                    <label>Antony michel</label>
                </div>
                <div class="folder">
                    <i (click)="viewDocument()" class="fa fa-folder" aria-hidden="true"></i><br>
                    <label>Antony michel</label>
                </div>

            </div>
        </div>

    </div>
</div>